.vscode/*
*.log
*.txt
*.o
*.out
*.a
*.gcda
*.gcno
mysh
vgcore*
pos*
test
test.c
src/tests.c
unit_tests
settings.json
bonus/clients
bonus/servers
tests/*.sh
tester/README
segfault*
div_zero*
abort*
dbl_free*
